.advanced-navbar {
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    margin-left: 30px;
}

.google-icon {
    height: 24px;
}

.advanced-container {
    height: calc(100vh - 120px - 24px - 2px);
    padding: 20px 60px;
    color: #333;
    width: 80%;
}

.advanced-headline {
    margin: 20px 60px;
    height: 24px;
}

.advanced-text {
    color: #d93025;
    font-size: 20px;
    margin: 0;
}

.separator {
    border-bottom: 1px solid #ebebeb;
}

.form-row {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.form-col-2 {
    width: 20%;
}

.form-col-6 {
    width: 60%;
}

.form-col-4 {
    width: 40%;
}

.form-label {
    font-size: 13px;
}

.form-info {
    display: block;
    font-size: 11px;
    margin: 0 20px;
}

.form-control {
    width: 100%;
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 30px;
    padding: 1px 8px;
}

.advanced-search {
    text-align: end;
}

.advanced-search-button {
    color: white;
    box-shadow: none;
    border: 1px solid #3079ed;
    background-color: #4d90fe;
    border-radius: 2px;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    padding: 8px 16px;
}

.advanced-search-button:hover {
    background-color: #357ae8;
    border: 1px solid #2f5bb7;
}
